
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 750px;
}

.contact-header {
  padding: 100px 0 30px 0;
}

.contact p {
  margin: 0;
  flex: 3;
  width: 327px;
  box-sizing: content-box;
  font-family: Inter, sans-serif;
  font-size: 32px;
  word-wrap: wrap;
  font-weight: 700;
  color: #172b4d;
  line-height: 40px;
  text-align: center;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  height: 600px;
  flex: 2;
}

#contact-form * {
  border: none;
}

#name-input,
#email-input {
  border-bottom: 1px solid #dbd8d7;
  box-sizing: content-box;
  width: 280px;
  margin-bottom: 50px;
}

input[type="text"],
input[type="email"] {
  padding-left: 10px;
  line-height: 40px;
  font-size: 18px;
}

#comments-input {
  background-color: #fbf8f7;
  width: 280px;
  margin-bottom: 20px;
  padding: 8px 15px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

#desktop-name-inputs {
  display: none;
}

#contact-btn {
  padding: 10px 20px;
}
