
:root {
  --bg-header-color: #3c3a39;
  --bg-hero-color: #1c1a19;
  --bg-comments-color: #fbf8f7;
  --primary-text-color: #ff6b00;
  --text-color-2: #fff5e1;
  --text-color-3: #1c1a19;
  --text-color-4: #091e42;
  --text-color-5: #f4f5f7;
  --text-color-6: #172b4d;
  --text-color-7: #979493;
  --text-color-8: #3c3a39;
  --text-color-white: #fff;
}

/* utility classes */
.header-text {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
}

.sub-header-text {
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.description1-text {
  font-family: Poppins, serif;
  font-weight: 400;
}

.description2-text {
  font-family: Inter, serif;
  font-weight: 400;
}

.main-btn {
  font-family: Inter, serif;
  font-weight: 700;
  background-color: var(--primary-text-color);
  color: var(--text-color-white);
  text-align: center;
  transition: color 1000ms, background-color 1000ms;
}

.stack-btn {
  font-family: Inter, serif;
  font-weight: 500;
}

/* general rulesets */
* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
p {
  margin-block: 0;
}

section {
  width: 100%;
}

/* Main styling starts from here... */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
}

header {
  width: 100%;
  height: 48px;
  background-color: var(--bg-header-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  max-width: 1200px;
  width: 90%;
}

.logo {
  color: var(--text-color-white);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.logo {
  Transition: rotate 1000ms;
}

.logo:hover {
  Rotate: -360deg;
}

.nav-links {
  display: none;
}

main {
  overflow: auto;
  width: 100%;
}

/* hero section styling starts here... */
.hero {
  height: 590px;
  background-color: var(--bg-hero-color);
  background-image: url(assets/images/Illustration.png);
  background-repeat: no-repeat;
  background-position: right 200px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding-inline-start: 5px;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
}

.hero-text-container .header-text {
  color: var(--primary-text-color);
  font-size: 56px;
  line-height: 64px;
  max-width: 333px;
  letter-spacing: 0.3700000047683716px;
}

.hero-text-container .sub-header-text {
  color: var(--text-color-2);
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
}

.hero-text-container .description1-text {
  color: var(--text-color-white);
  font-size: 16px;
  max-width: 378px;
}

.social-icons {
  display: flex;
  width: 200px;
  gap: 15px;
  padding-inline-start: 20px;
}

/* works section starts from here... */
.works {
  padding: 100px 10px;
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: auto auto auto;
  align-content: center;
  justify-content: center;
}

.works-heading {
  height: 107px;
}

.works-heading .header-text {
  color: var(--text-color-3);
  font-size: 40px;
  line-height: 52px;
}

#works-header-divider {
  width: 100%;
  height: 1px;
  background-color: #212121;
  margin-block: 30px;
}

.multi-posts-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}

.works-img {
  background-image: url(assets/images/Img-Placeholder.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 327px;
  max-width: 684px;
  min-height: 237px;
}

.multi-posts-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.multi-posts-details .header {
  font-size: 32px;
  line-height: 44px;
  color: var(--text-color-4);
}

.multi-posts-details .description2-text {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-4);
}

.stack-list-container {
  width: 100%;
  padding: 0;
  align-self: center;
  text-align: center;
}

.stack-list {
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: flex-start;
  padding: 0;
}

.stack-list li a {
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #8993a4;
  color: var(--text-color-4);
  font-size: 15px;
  font-family: inter, serif;
  line-height: 20px;
  font-weight: 500;
}

.multiposts-btn {
  width: 124px;
  padding: 12px;
}

/* project cards styling starts here... */
.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-card {
  min-width: 327px;
  max-width: 369px;
  width: 100%;
  background-image: url(assets/images/pjt-img-Placeholder.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 386px;
  max-height: 435px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 17px;
  gap: 20px;
  transition: scale 250ms;
}

.project-card:hover {
  scale: 0.9;
}

.project-card .header-text {
  font-size: 32px;
  line-height: 44px;
  color: var(--text-color-white);
}

.project-card .description2-text {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-white);
}

.project-card .stack-list li a {
  color: var(--text-color-white);
  font-size: 15px;
  line-height: 20px;
  background-color: rgba(255, 255, 255, 0.24);
}

.pjt-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 12px;
  font-family: Inter, serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: none;
}

/* about section styles start here... */
.about {
  height: 1730px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about .background {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg-hero-color);
  height: 1700px;
  z-index: 0;
  background-image: url(assets/images/about-illustration.png);
  background-repeat: no-repeat;
  background-position: right 29%;
}

.about-me {
  width: 80%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block: 100px;
}

.about-me .header-text {
  color: var(--primary-text-color);
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  z-index: 10;
  margin: 0;
}

.about-me .description2-text {
  color: var(--text-color-white);
}

.about-me-btn {
  width: 161px;
  padding: 12px;
}

.about-section-divider {
  border: 1px solid #fff;
  z-index: 10;
  width: 85%;
  margin-block: 90px;
}

.about-skills {
  width: 80%;
  height: 500px;
  z-index: 5;
  display: flex;
  flex-direction: column;
}

.about-skills .stacks-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack-list-container li {
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0;
  text-align: center;
  color: var(--text-color-white);
}

.one h1 {
  font-family: InaiMathi, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.two h1,
.three h1 {
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
  color: var(--text-color-white);
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stack h1::before {
  content: "";
  background-color: var(--primary-text-color);
  display: inline;
  margin-inline-end: 20px;
  width: 18px;
  height: 18px;
}

.two h1::before {
  transform: rotate(45deg);
}

/* contact styles starts here... */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 24px;
  margin-block: 20px;
  gap: 20px;
}

.form-header {
  max-width: 327px;
}

.form-text {
  max-width: 327px;
}

.form-text p {
  font-family: Inter, serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
  color: var(--text-color-6);
}

.contact-form {
  min-width: 327px;
  width: 327px;
  max-width: 1163px;
}

.desktop-name {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  outline: none;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  font-family: Inter, serif;
  font-size: 35px;
}

input::placeholder {
  padding: 10px;
  font-family: Inter, serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: var(--text-color-7);
}

textarea {
  border: none;
  padding: 13px;
  background-color: #fbf8f7;
  text-align: left;
}

textarea::placeholder {
  color: var(--text-color-8);
  font-family: Inter, serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}

button {
  background-color: var(--primary-text-color);
  color: var(--text-color-white);
  font-family: Inter, serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  width: 131px;
  align-self: center;
  padding-block: 10px;
  border: none;
}

/* footer styles starts here */
footer {
  width: 100%;
  height: 72px;
  border-top: 1px solid #dfe1e6;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons {
  margin: 0;
  padding: 0;
  gap: 0;
}

/* media query for desktop view styles start here... */
@media (min-width: 768px) {
  /* query for header section */
  header {
    height: 72px;
  }

  .logo {
    font-family: Inter, serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
  }

  .menu-icon {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .nav-links > * {
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    color: var(--text-color-white);
  }

  #mail {
    background-image: url(assets/images/Icon-Mail.png);
    background-size: contain;
    width: 24px;
    height: 24px;
  }

  /* hero section styling */
  .hero {
    flex-direction: row-reverse;
    align-items: center;
    gap: 50px;
    height: 798px;
    background-image: url(assets/images/desktop-Illustration-header.png);
    background-position: top right;
    background-size: 40%;
  }

  .hero .social-icons {
    flex-direction: column;
    flex: 1;
  }

  /* works section styling... */
  .works {
    padding: 100px 50px;
    row-gap: 25px;
  }

  .works-heading {
    display: flex;
  }

  .works-heading .header-text {
    width: 50%;
  }

  .works-header-divider {
    width: 794px;
    flex: 1;
  }

  .multi-posts-frame {
    flex-direction: row;
  }

  .works-img {
    width: 684px;
    height: 448px;
    flex-grow: 2;
    flex-basis: 65%;
  }

  .multi-posts-details {
    flex-shrink: 15;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 435px 435px;
  }

  .pjt-button {
    opacity: 0;
  }

  .pjt-button:hover {
    cursor: pointer;
  }

  .project-card:hover > :not(button) {
    opacity: 0;
  }

  .project-card:hover .pjt-button {
    opacity: 1;
  }

  .about {
    height: 1195px;
  }

  .about .background {
    background-image: url(assets/images/desktop-illustration-about.svg);
    background-position: calc(100% - 0.5px) 76px;
    height: 1195px;
  }

  .about-me {
    max-width: 566px;
    align-self: flex-start;
    margin-inline: 10%;
  }

  .about-me .description2-text {
    color: var(--text-color-white);
    line-height: 32px;
    font-size: 20px;
  }

  .about-skills .stacks-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
  }

  .stack-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .contact {
    flex-direction: row;
    align-items: flex-start;
    padding-block-start: 80px;
  }

  .form-text p {
    text-align: left;
    color: #262626;
    display: inline;
  }

  .form-text {
    transition: translate 350ms;
  }
  .form-text:hover {
    translate: 10px;
  }

  /* button states */
  .main-btn:hover {
    background: #fff5e1;
    border: 1px solid #f55800;
    color: #f55800;
  }

  .main-btn:focus {
    background: #e05304;
    color: #f4f1f0;
  }
}
