
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

header {
  background-color: #3c3a39;
  width: 375px;
  height: 92px;
  display: flex;
  position: absolute;
  top: 0;
}

header * {
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: auto;
}

header h1 {
  display: inline;
  color: white;
}

header nav {
  align-self: center;
  justify-self: right;
  justify-content: flex-end;
  align-items: flex-end;
  display: inline;
  position: relative;
}

nav img {
  margin-left: 180px;
}

.nav-links {
  position: absolute;
}

main {
  margin-top: 10px;
  width: 375px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  background-color: #1c1a19;
  width: 355px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  background-image: url(assets/images/Illustration.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 130px;
}

.hero * {
  width: 327px;
}

.hero .header {
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  font-size: 53px;
  font-weight: 400;
  line-height: 64px;
  margin: 20px 0 20px 15px;
}

#works-header-divider {
  border: none;
  border-bottom: 1px solid #212121;
  margin-left: 5px;
}

footer {
  width: 375px;
  height: 100px;
  border-top: 1px solid #dfe1e6;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 65%;
  list-style: none;
}

.baseline {
  height: 5px;
  width: 140px;
  background-color: #0d151e;
  background-image: url(assets/images/baseline-Shape.png);
  background-size: 10px;
  background-position: bottom;
  border-radius: 10px;
}

.btn:hover {
  color: #f55800;
  background-color: #fff5e1;
  border: 1px solid #f55800;
}

.btn:active {
  background: #f55800;
  color: white;
}

.btn:disabled,
.btn[disabled] {
  border: none;
  background-color: #f4f1f0;
  color: #5b5957;
}
